#   База данных
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@localhost:5432/DB_NAME
POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="DB_NAME"

#   Панель администратора
ADMIN_USERNAME="USERNAME"
ADMIN_PASSWORD="PASSWORD"
ADMIN_SECRET_KEY="SECRET_KEY"

